@{
    Layout = "_Layout";
    ViewBag.Title = "Error";
    var statusCode = Context.Response.StatusCode;
}
<h1>@statusCode – Error</h1>
<p>@ViewBag.ErrorMessage</p>
<a asp-controller="Home" asp-action="Index">Return Home</a>
