@model EasyFly.Application.ViewModels.TicketViewModel

@{
    ViewData["Title"] = "Delete Ticket";
}

<h1>Delete Ticket</h1>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

@if (Model is not null)
{
    <h3>Are you sure you want to delete @Model.PersonFirstName @Model.PersonLastName's ticket?</h3>
    <form asp-controller="Ticket" asp-action="Delete" method="post">
        @Html.Hidden("ticketId", Model.Id)
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>
}