@model EasyFly.Application.ViewModels.AuditViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.User.Username</td>
    <td>@Model.Message</td>
    <td>@Model.ModifiedAt.ToString("yyyy-MM-dd HH:mm:ss")</td>
</tr>
